{% extends 'base.html' %}

{% block body %}

<section class="blog px-3 py-3 y-sm-0">
    <div class="row">
        <div class="col-lg-6  py-3 text-center">
            <img src="../../static/images/gov-schemes/financial-assistance.jpg" class="rounded-circle" width="140"
                height="140">
            <h2 class="py-2">e-Kisan Credit Card (KCC)</h2>
            <p>The Kisan Credit Card (KCC) scheme was introduced in 1998 for issue of Kisan Credit Cards to farmers on
                the basis of their holdings for uniform adoption by the banks so that farmers may use them to readily
                purchase agriculture inputs such as seeds, fertilizers, pesticides etc. and draw cash for their
                production needs.
            </p>
            <a class="btn btn-secondary" href="https://www.youtube.com/watch?v=OKs9kbLlDzw" target="_blank">Visit</a>
        </div>
        <div class="col-lg-6  py-3 text-center">
            <img src="../../static/images/gov-schemes/financial-assistance.jpg" class="rounded-circle" width="140"
                height="140">
            <h2 class="py-2">Pradhan Mantri Kisan Samman Nidhi</h2>
            <p>(PMKSN, translation: Prime Minister's Farmer's Tribute Fund) is an initiative by the government of India
                that give farmers up to ₹6,000 (equivalent to ₹6,300 or US$79 in 2020) per year as minimum income
                support.
            </p>
            <a class="btn btn-secondary" href="https://pmkisan.gov.in/" target="_blank">Visit</a>
        </div>


    </div>
</section>

{% endblock %}