{% extends 'base.html' %}

{% block body %}

<section class="blog px-3 py-3 y-sm-0">
    <div class="row">
        <div class="col-lg-12  py-3 text-center">
            <img src="../../static/images/insurance.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Pradhan Mantri Fasal Bima Yojana (PMFBY)</h2>
            <p>Pradhan Mantri Fasal Bima Yojana (PMFBY) is the government sponsored crop insurance scheme that
                integrates multiple stakeholders on a single platform.PMFBY aims to provide a comprehensive insurance
                cover against failure of the crop thus helping in stabilising the income of the farmers.
            </p>
            <a class="btn btn-secondary" href="https://pmfby.gov.in/" target="_blank">Visit</a>
        </div>
        <div class="col-lg-12  py-3 text-center">
            <img src="../../static/images/insurance.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Weather Based Crop Insurance Scheme</h2>
            <p>Weather Based Crop Insurance Scheme (WBCIS) is intended to provide insurance protection to the farmers
                against adverse weather incidence, such as deficit and excess rainfall, high or low temperature,
                humidity etc. which are deemed to impact adversely the crop production. It has the advantage to settle
                the claims within shortest possible time.
            </p>
            <a class="btn btn-secondary" href="https://www.youtube.com/watch?v=JHKzr-jHNC4" target="_blank">Visit</a>
        </div>
        <div class="col-lg-12  py-3 text-center">
            <img src="../../static/images/insurance.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Coconut Palm Insurance Scheme (CPIS)</h2>
            <p>This Scheme provides Insurance protection for Coconut Palm growers. When the palm damaged, the claim
                payment equal to input cost loss damage is payable to the insured in notified areas.50-75% subsidy of
                premium is provided to all
                types of farmers.Premium rate per palm ranges from Rs.9.00 (in the plant age group of 4 to 15 years) to
                Rs.14.00
                (in the plant age group of 16-60 years)

            </p>
            <a class="btn btn-secondary" href="https://www.youtube.com/watch?v=A-as7AqCiE4" target="_blank">Visit</a>
        </div>

    </div>
</section>

{% endblock %}