{% extends 'base.html' %}

{% block body %}

<section class="blog px-3 py-3 y-sm-0">
    <div class="row">
        <div class="col-lg-6  py-3 text-center">
            <img src="../../static/images/gov-schemes/irrigation-info.jpg" class="rounded-circle" width="140"
                height="140">
            <h2 class="py-2">Pradhan Mantri Krishi Sinchai Yojana (PMKSY)</h2>
            <p>Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) has been formulated with the vision of extending the
                coverage of irrigation ‘Har Khet ko pani’ and improving water use efficiency ‘More crop per drop' in a
                focused manner with end to end solution on source creation, distribution, management, field application
                and extension activities.
            </p>
            <a class="btn btn-secondary" href="https://pmksy.gov.in/" target="_blank">Visit</a>
        </div>
        <div class="col-lg-6  py-3 text-center">
            <img src="../../static/images/gov-schemes/irrigation-info.jpg" class="rounded-circle" width="140"
                height="140">
            <h2 class="py-2">Micro Irrigation Fund (MIF)</h2>
            <p>The objective of the fund is to facilitate State Govts. efforts in mobilizing additional resources for
                expanding coverage under micro irrigation and incentivizing its adoption beyond provisions of
                PMKSY-PDMC.The scheme has been effective in terms of ensuring benefits for farmers e.g. higher
                productivity; reduction in labour cost, water consumption, power utilization, fertilizer use etc.
            </p>
            <a class="btn btn-secondary" href="https://www.youtube.com/watch?v=bF9dEvYwG9U&t=1s"
                target="_blank">Visit</a>
        </div>

    </div>
</section>

{% endblock %}