{% extends 'base.html' %}

{% block body %}

<section class="blog px-3 py-3 y-sm-0">
    <div class="row">
        <div class="col-lg-4  py-3 text-center">
            <img src="../../static/images/insurance.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Title</h2>
            <p>Always remember that a computer does not possessintelligence
                theability to compose, and logical inference
            </p>
            <a class="btn btn-secondary" href="#">Link</a>
        </div>
        <div class="col-lg-4  py-3 text-center">
            <img src="../../static/images/insurance.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Title</h2>
            <p>Always remember that a computer does not possessintelligence
                theability to compose, and logical inference
            </p>
            <a class="btn btn-secondary" href="#">Link</a>
        </div>
        <div class="col-lg-4  py-3 text-center">
            <img src="../../static/images/insurance.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Title</h2>
            <p>Always remember that a computer does not possessintelligence
                theability to compose, and logical inference
            </p>
            <a class="btn btn-secondary" href="#">Link</a>
        </div>
        <div class="col-lg-4  py-3 text-center">
            <img src="../../static/images/insurance.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Title</h2>
            <p>Always remember that a computer does not possessintelligence
                theability to compose, and logical inference
            </p>
            <a class="btn btn-secondary" href="#">Link</a>
        </div>

    </div>
</section>

{% endblock %}