{% extends 'base.html' %}

{% block body %}

<section class="blog px-3 py-3 y-sm-0">
    <div class="row">
        <div class="col-lg-6  py-3 text-center">
            <img src="../../static/images/gov-schemes/organic-info.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Paramparagat Krishi Vikas Yojna (PKVY)</h2>
            <p>It aims at development of sustainable models of organic farming through a mix of traditional wisdom and
                modern science to ensure long term soil fertility buildup, resource conservation and helps in climate
                change adapatation and mitigation.
                PKVY also aims at empowering farmers through institutional development .

            </p>
            <a class="btn btn-secondary" href="https://pgsindia-ncof.gov.in/PKVY/Introduction.aspx"
                target="_blank">Visit</a>
        </div>
        <div class="col-lg-6  py-3 text-center">
            <img src=".../../static/images/gov-schemes/organic-info.jpg" class="rounded-circle" width="140"
                height="140">
            <h2 class="py-2">National Mission For Sustainable Agriculture (NMSA)</h2>
            <p>National Mission for Sustainable Agriculture (NMSA) has been formulated for enhancing agricultural
                productivity especially in rainfed areas focusing on integrated farming, water use efficiency, soil
                health management and synergizing resource conservation.NMSA aims at promoting location specific
                improved agronomic practices through soil health management
            </p>
            <a class="btn btn-secondary" href="https://nmsa.dac.gov.in/" target="_blank">Visit</a>
        </div>

    </div>
</section>

{% endblock %}