{% extends 'base.html' %}

{% block body %}

<section class="blog px-3 py-3 y-sm-0">
    <div class="row">
        <div class="col-lg-12  py-3 text-center">
            <img src="../../static/images/gov-schemes/power-info.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Sub Mission on Agriculture Mechanization (SMAM)</h2>
            <p>Ministry of Agriculture and Farmers Welfare has launched a Sub-Mission on Agricultural Mechanization
                (SMAM) in 2014-15 with the objectives of increasing the reach of farm mechanization to small and
                marginal farmers and to the regions & difficult area where farm power availability is low.
            </p>
            <a class="btn btn-secondary" href="https://www.youtube.com/watch?v=QDBtsiy8AMY" target="_blank">Visit</a>
        </div>
        <div class="col-lg-12  py-3 text-center">
            <img src="../../static/images/gov-schemes/power-info.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">National Agricultural Market (E-NAM)</h2>
            <p>National Agriculture Market (eNAM) is a pan-India electronic trading portal which networks the existing
                APMC mandis to create a unified national market for agricultural commodities.
                Goal is to promote uniformity in agriculture marketing by streamlining of procedures across the
                integrated markets.

            </p>
            <a class="btn btn-secondary" href="https://www.enam.gov.in/web/" target="_blank">Visit</a>
        </div>

    </div>
</section>

{% endblock %}