{% extends 'base.html' %}

{% block body %}

<section class="blog px-3 py-3 y-sm-0">
    <div class="row">
        <div class="col-lg-12  py-3 text-center">
            <img src="../../static/images/gov-schemes/soil-info.jpg" class="rounded-circle" width="140" height="140">
            <h2 class="py-2">Soil Health Card Scheme </h2>
            <p>Soil Health Card Scheme
                scheme launched by the Government of India on 19 February 2015.Under the scheme, the government plans to
                issue soil cards to farmers which will carry crop-wise recommendations of nutrients and fertilisers
                required for the individual farms to help farmers to improve productivity through judicious use of
                inputs.

            </p>
            <a class="btn btn-secondary" href="http://www.soilhealth.dac.gov.in/" target="_blank">Visit</a>
        </div>


    </div>
</section>

{% endblock %}